html{
    background-color: rgb(215, 215, 180);
    scroll-behavior: smooth;
    font-family: 'Patrick Hand', sans-serif;
}
h1{
    text-align: center;
    color: black;
}
h3{
    color: black;
}
div[id="h1"]{
    color: black;
    width: 90%;
    margin: auto;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    background-color: lightblue;
    padding: 2px;
    font-size: x-large;
    font-weight: bold;
}
div[id="main"]{
    background-color: lightgoldenrodyellow;
    width: 70%;
    max-width: 500px;
    margin: auto;
    padding: 2%;
}
div[id="ida"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
input[id="t"]{
    border: solid  lightblue;
    border-width: 2px;
    border-radius: 50px;
    text-align: center;
    width: 90%;
    font-size: larger;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    font-family: 'Patrick Hand', sans-serif;
}
input[id="c"]{
    border: solid  lightblue;
    border-width: 2px;
    border-radius: 50px;
    text-align: center;
    width: 90%;
    font-size: larger;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    font-family: 'Patrick Hand', sans-serif;
}
div[id="container"]{
    display: flex;
    width: 85%;
    max-width: 750px;
    flex-wrap: wrap;
    gap: 5px;
    background-color: lightgoldenrodyellow;
    margin: auto;
    margin-top: 20px;
    max-height: 40vh;
    overflow-y: auto;
    padding: 10px;
}
div[id="nadd"]{
    margin: auto;
    margin-top: 0px;
    width: 100%;
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(0.1);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.note{
    background-color: lightblue;
    border: 1px solid black;
    width: fit-content;
    border-radius: 100px;
    padding: 10px;
    animation: fadeIn 0.2s ease-in;
    margin: auto;
}


div[id="bn"]{
    display: flex;
    justify-content: center;
}
div[id="a"]{
    display: flex;
    justify-content: center;
}
button[id="add"]{
    background-color: lightblue;
    color: black;
    width: 70%;
    border: 1px solid black;
    border-radius: 100px;
    margin-top: 5%;
    font-size: larger;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    font-family: 'Patrick Hand', sans-serif;
    font-weight: bold;
}
button[id="delete"]{
    background-color: lightsalmon;
    color: black;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 100px;
    padding: 5px;
    font-family: 'Patrick Hand', sans-serif;
    font-weight: bold;
}
button[id="download"]{
    background-color: lightblue;
    color: black;
    width: 40%;
    border: 1px solid black;
    border-radius: 100px;
    font-size: x-large;
    padding-bottom: 1%;
    padding-top: 1%;
    box-sizing: border-box;
    font-family: 'Patrick Hand', sans-serif;
    font-weight: bold;
    margin: auto;
}
.note.fade-out{
    animation: fadeOut 0.2s ease-out forwards;
}
@keyframes fadeOut{
    to{
        opacity: 0;
        transform: scale(0);
    }
}
button[id="add"]:hover{
    transition: transform 0.05s ease-in, background-color 0.1s ease-in;
    transform: scale(1.1);
    background-color: rgb(73, 116, 130);
}
button[id="delete"]:hover{
    transition: transform 0.05s ease-in, background-color 0.1s ease-in;
    transform: scale(1.1);
    background-color: salmon;
}
button[id="download"]:hover{
    transition: transform 0.05s ease-in, background-color 0.1s ease-in;
    transform: scale(1.1);
    background-color: rgb(73, 116, 130);
}
.note:hover{
    transition: transform 0.1s ease-in;
    transform: scaleX(1.15);
}
input[id="t"]:hover{
    transition: background-color 0.1s ease-in;
    background-color: rgb(225, 225, 225);
}
input[id="c"]:hover{
    transition: background-color 0.1s ease-in;
    background-color: rgb(225, 225, 225);
}
div[id="container"]::-webkit-scrollbar {
    width: 10px;              /* Adjust width of the vertical scrollbar */

}

div[id="container"]::-webkit-scrollbar-track {
    background: white;      /* Light track background */
}
div[id="container"]::-webkit-scrollbar-thumb {
    background: lightblue;
}
div[id="container"]::-webkit-scrollbar-thumb:hover{
    transition: transform 0.1s ease-in;
    background-color: rgb(73, 116, 130);
}